@import "../../styles/mixins.scss";
@import "../../styles/variables";

.bottom-left-top {
  @include flexHorizontal;
  justify-content: space-between;
  a {
    text-decoration: none;
    h4 {
      color: $primaryColor;
    }
    &:hover {
      h4 {
        color: $secondaryColor;
      }
    }
  }
}
.bottom-left-bottom {
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.05),
    0px 4.53704px 35.1389px rgba(0, 0, 0, 0.037963),
    0px 2.6963px 19.1111px rgba(0, 0, 0, 0.0303704),
    0px 1.4px 9.75px rgba(0, 0, 0, 0.025),
    0px 0.57037px 4.88889px rgba(0, 0, 0, 0.0196296),
    0px 0.12963px 2.36111px rgba(0, 0, 0, 0.012037);
  border-radius: 10px;
  padding: 20px;
  @include flexVertical;
  gap: 20px;

  .single-transanction {
    @include flexHorizontal;
    justify-content: space-between;
    .single-transanction-left {
      @include flexHorizontal;
      gap: 5px;
      img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
      }
      .transanction-detail {
        h5 {
          font-weight: 400;
          gap: 10px;
          font-size: 12px;
          margin-bottom: 3px;
        }
        .detail-date {
          @include flexHorizontal;
          gap: 5px;
          p {
            color: $secondaryColor;
            font-size: 10px;
          }
          hr {
            width: 1px;
            height: 10px;
            margin: 0;
            background-color: $secondaryColor;
            border: none;
          }
        }
      }
    }
    .single-transanction-right {
      .right-detail {
        @include flexHorizontal;
        gap: 7px;
        p {
          background-color: $tertiaryColor;
          color: $secondaryColor;
          padding: 2px 5px;
          border-radius: 5px;
          font-size: 10px;
        }
        .blue {
          color: $primaryColor;
        }
        .red {
          color: $redColor;
        }
      }
    }
  }
}
