@import "../../styles/variables";
@import "../../styles/mixins.scss";

.orders-page {
  padding: 20px 10px 20px 20px;
  @media (max-width: 767px) {
    padding-top: 10px;
    padding-left: 10px;
  }
  .orders-page-main {
    padding-right: 10px;
    margin-top: 10px;
    @media (max-width: 767px) {
      padding-right: 0;
    }
    .orders-page-main-top {
      @include flexHorizontal;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
        gap: 10px;
      }
      .top-buttons {
        @include flexHorizontal;
        @media (max-width: 767px) {
          padding-bottom: 5px;
          width: 90vw;
          hr {
            min-width: 15px;
          }
        }
        gap: 5px;
        white-space: nowrap;
        overflow-x: auto;
        hr {
          width: 15px;
          border: 1px solid $tertiaryColor;
        }
      }
    }
    .orders-page-main-bottom {
      margin-top: 15px;
      strong {
        color: #03030b;
        font-weight: 700;
        font-size: 12px;
      }
      .forward-arrow {
        transform: rotate(180deg);
        transition: all 0.2s;
        &:hover {
          padding-right: 10px;
        }
        svg {
          fill: $primaryColor;
        }
      }
    }
  }
}
