@import "../../styles/variables";
@import "../../styles/mixins.scss";

.profile-page {
  padding: 20px;
  @media (max-width: 767px) {
    padding-top: 10px;
    padding-inline: 10px;
  }
  .profile-image-wrapper {
    margin-top: 10px;
    @include flexHorizontal;
    gap: 16px;
    img {
      height: 156px;
      width: 156px;
      object-fit: cover;
      border-radius: 10px;
    }
    .label-in-place {
      height: 156px;
      width: 156px;
      background-color: $tertiaryColor;
      border-radius: 10px;
      cursor: pointer;
      @include flexHorizontal;
      justify-content: center;
      gap: 5px;
      color: $primaryColor;
      font-weight: 700;
      &:hover {
        border: 2px solid $secondaryColor;
      }
    }
    .image-upload-button {
      @include flexHorizontal;
      gap: 10px;
      color: $primaryColor;
      font-weight: 700;
      input {
        display: none;
      }
      label {
        cursor: pointer;
        @include flexHorizontal;
        gap: 5px;
      }
      &:hover {
        color: $secondaryColor;
        svg {
          stroke: $secondaryColor;
        }
      }
    }
  }
  .profile-page-inputs {
    max-width: 40%;
    margin-top: 20px;
    @include flexVertical;
    justify-content: flex-start;
    gap: 10px;
    @media (max-width: 767px) {
      max-width: 100%;
      gap: 20px;
    }
    input {
      height: 50px;
      color: $secondaryColor;
      font-size: 15px;
      border-radius: 10px;
    }
    .profile-page-buttons {
      @include flexHorizontal;
      gap: 40px;
      margin-left: auto;
      .cancel-button {
        color: $redColor;
        cursor: pointer;
        &:hover {
          color: $redColor;
        }
      }
      button {
        padding: 19px 48px;
        font-size: 17px;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
