@import "../../styles/variables";
@import "../../styles/mixins.scss";

.update-password-page {
  @include flexVertical;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  @media (max-width: 767px) {
    padding-top: 10px;
    padding-inline: 10px;
  }
  .update-password-wrapper {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 7px 60px rgba(0, 0, 0, 0.05),
      0px 4.53704px 35.1389px rgba(0, 0, 0, 0.037963),
      0px 2.6963px 19.1111px rgba(0, 0, 0, 0.0303704),
      0px 1.4px 9.75px rgba(0, 0, 0, 0.025),
      0px 0.57037px 4.88889px rgba(0, 0, 0, 0.0196296),
      0px 0.12963px 2.36111px rgba(0, 0, 0, 0.012037);
    border-radius: 10px;
    @include flexVertical;
    align-items: center;
    gap: 20px;
    @media (max-width: 767px) {
      width: 100%;
    }
    .form-update-password {
      min-width: 400px;
      max-width: 400px;
      @include flexVertical;
      align-items: center;
      gap: 10px;
      input {
        height: 35px;
        width: 320px;
        color: $secondaryColor;
        @media (max-width: 767px) {
          width: 300px;
        }
      }
      button {
        margin-top: 20px;
        padding: 12px 48px;
        font-size: 17px;
        font-weight: 700;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
